{% extends 'base.html' %}

{% block content %}
<h2>Dashboard</h2>
<p>Welcome, {{ user.first_name }}!</p>

{% if user.role == "Superadmin" %}
    <p>You are a Superadmin. Oversee the system and manage lecturers and students.</p>
{% elif user.role == "Admin" %}
    <p>You are an Admin.</p>
{% elif user.role == "Lecturer" %}
    <p>You are a Lecturer. Manage attendance and materials.</p>
{% elif user.role == "Student" %}
    <p>You are a Student. View your attendance records and announcements.</p>
{% endif %}

{% endblock %}
