{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ course.course_name }}</h1>
    <h2>Sections</h2>
    <ul>
        {% for section in course.sections.all %}
        <li>
            {{ section.get_section_type_display }} - {{ section.schedule }}
            <a href="{% url 'add_class' section.id %}" class="btn btn-success">Add Class</a>
        </li>
        {% empty %}
        <li>No sections available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_section' course.id %}" class="btn btn-primary">Add Section</a>
</div>
{% endblock %}
